<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <script src="/MajiApp/static/scripts/admin.js"></script>
    <title>Admin</title>
</head>
<body>
  
        <div class="admin_login container">
                <form id="login-admin" action="{{ url_for('admin')}}" method="POST">
                    <div class="username">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="username" name="username">
                    </div>
                    <div class="pswd">
                        <label for="password">Password</label>
                    <input type="password" id="password" placeholder="password" name="password">
                    </div>
                    <button type="submit" class="button">login</button>
                    <a href="#">Forgot password</a>
                </form>
        </div>
<script>
    document.getElementById('login-admin').addEventListener('submit', adminlogin);
</script>
        <!-- <h1>{{info}}</h1> -->
</body>
</html>