<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/MajiApp/static/dashbrd.css">
    <title>Document</title>
</head>
<body>
    <section class="regions">
        <div class="container row">
            <div class="dropdown">
                <button class="dropdwn">REGIONS</button>
                <div class="dropdown-content">
                    <a href="/MajiApp/templates/RegionA.html">Region A</a>
                    <a href="/MajiApp/templates/RegionB.html">Region B</a>
                    <a href="/MajiApp/templates/RegionC.html">Region C</a>
                    <a href="/MajiApp/templates/RegionD.html">Region D</a>
                    <a href="/MajiApp/templates/RegionE.html">Region E</a>
                    <a href="/MajiApp/templates/RegionF.html">Region F</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>