<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MajiApp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

</head>
<body>
    
        <header>
            <div class="">
                <div class="navbar">
                    <div class="menu">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <div class="links">
                        <a href="{{ url_for('adminlogin') }}">Admin</a>
                        <a href="{{ url_for('login') }}">Login</a>
                    </div>
                    <!-- <button class="admin">admin</button>
                    <button class="login">login</button>                 -->
                </div>
            </div>
        </header>
        <section class="upper">
            <div class="container">
                <h1 class="logo_txt">MajiApp</h1>
            <h2 class="mantra">At your hour of need</h2>
            <img src="{{ url_for('static', filename= 'images/aiwatertap.jpg') }}" class="cover_img" alt="aiwatertap">
            </div>
        </section>
        <section class="blog_wr">
            <div class="container row">
                <div class="wr">
                    <h1>water rationing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Quisquam, quaerat. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
                <div class="wr">
                    <img src="{{ url_for('static', filename='images/selective-focus-grunge-rusty-faucet-rural-area.jpg')}}" alt="tapwater" width="300" height="200">
                </div>
        </section>
        <section class="blog_wrp">
            <div class="container row">
                <div class="wrp">
                    <h1>water rationing  program</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Quisquam, quaerat. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
                <div class="wrp">
                    <img src="{{url_for('static', filename='/images/view-realistic-hands-touching-clear-flowing-water.jpg')}}" alt="homewater" width="300" height="200">
                </div>
            </div>
        </section>
</body>
</body>
</html>