<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MajiApp</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <div class="container">
        <header>
            <h1>MajiApp</h1>
                <h2>At your hour of need</h2>
            <div class="navbar">
                <div class="menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <button class="admin">admin</button>
                <button class="login">login</button>
                <!--<input type="text" name="search" placeholder="search name">-->
                
            </div>
        </header>
        <section class="blog">
            <div class="container">
                <h1>water rationing</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Quisquam, quaerat. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                
                <h1>water rationing  program</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Quisquam, quaerat. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Quisquam, quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
        </section>
    </div>
</body>
</body>
</html>